<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${project_loc:SDKJFlash}/../scripts/qspi/linux/jlinkflash"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="&quot;--cmd&quot; &quot;program_all&quot; &quot;--jlink_path&quot; &quot;${renesas.da.jlink_path}&quot; &quot;--proj&quot; &quot;${project_loc}&quot; &quot;--img&quot; &quot;${project_loc}/img&quot;"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${project_loc:SDKJFlash}/../scripts/qspi"/>
</launchConfiguration>
